<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/search_booking.css' %}">
        <title>Search Bookings</title>
    </head>
    <body>
        <h1>Search for your booking</h1>
        <form method="POST" action="{% url 'search_bookings' %}">
            {% csrf_token %}
            <label>Enter Booking Reference</label><br>
            <input type="text" name="booking_reference" required><br>
            <input type="submit" value="Search" class="booking_search"><br>
        </form>

        <h3>Booking Details</h3>
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <p>Booking Reference: <b>{{ booking_reference }}</b></p>
            <hr>
            <h4>Customer Details</h4>
            <p>Customer Name: {{ customer.customer_name }}</p>
            <p>Customer Email: {{ customer.customer_email }}</p>
            <hr>
            <h4>Flight Details</h4>
            {% for flight in flights %}
                <p>Flight ID: {{ flight.flight_id }}</p>
                <p>Flight Name: {{ flight.flight_name }}</p>
                <p>Departure Point: {{ flight.departure_point }}</p>
                <p>Arrival Point: {{ flight.arrival_point }}</p>
                <p>Departure Date and Time: {{ flight.departure_datetime }}</p>
                <p>Arrival Date and Time: {{ flight.arrival_datetime }}</p>
                <p>Price: ${{ flight.price }}</p>
                <p>Seats Booked: {{ flight.seats_booked }}</p>
                <p>Max Seats: {{ flight.max_seats }}</p>
                <hr>
                <p><b>Click here if you want to cancel this booking</b></p>
                <form method="POST" action="{% url 'cancel_booking' %}">
                    {% csrf_token %}
                    <input type="hidden" name="booking_reference" value="{{ booking_reference }}">
                    <input type="submit" value="Cancel this Booking" class="cancel-btn">
                </form>
                <hr>
            {% endfor %}
        {% endif %}

        <a href="{% url 'main_page' %}" class="go_back">Go Back</a>

    </body>
</html>